body{
    font-size: large;

    font-family: monospace;
    background-color: rgb(0, 0, 0);
    color: rgb(0,0,255);
}
.hack{
  font-size: large;

    font-family: monospace;
    color:rgb(255,0,0);
}
@keyframes background-pan {
    from{
      background-position: 0% center;
    }
    to{
      background-position: -200% center;
    }
  }
  .grad{
     animation: background-pan 3s linear infinite;
     background-image: linear-gradient(to right, green,lightgreen,darkgreen);
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     white-space: nowrap;
     background-size: 200%;
    }
    
